/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Colori*/

/*#F7F8FA gray*/
/*#46ACF2 blue*/
/*#9C72DF violet*/
/*#D663A2 pink*/
/*#EE9D32 orange*/
/*#B0C823 green*/
/*#64C0A6 water-green*/

.text-blue{

}

/*Font*/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .poppins-regular {
    
  }