/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Colori*/

/*#F7F8FA gray*/
/*#E6E6E8 light-gray*/
/*#6E7173 dark-gray*/
/*#46ACF2 blue*/
/*#9C72DF violet*/
/*#D663A2 pink*/
/*#EE9D32 orange*/
/*#B0C823 green*/
/*#64C0A6 water-green*/

div h1 {
    display: inline-block;
    vertical-align: top;
}

header {
    color: #000000;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2ch;
    padding-top: 10px;
}

body {
    color: #6E7173;
    background-color: #F7F8FA;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#top {
    width: 70%;
    background-color: #ffffff;
    margin: 50px auto 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.bt-header1 {
    display: inline-block;
    background-color: #46ACF2;
    color: #ffffff;
    font-size: small;
    padding: 5px 10px;
    border-radius: 11%;
    margin-top: 1px;
    margin-left: 50px;
 
}

.bt-header2 {
    display: inline-block;
    background-color: #ffffff;
    color: #E6E6E8;
    font-size: small;
    padding: 5px 10px;
    border: 2px solid #E6E6E8;
    border-radius: 11%;
    margin-left: 5px;

}

ul {
    list-style-type: none;
}

li {
    font-size: 20px;
    margin-top: 20px;
}

.bt {
    display: inline-block;
    background-color: #46ACF2;
    color: #ffffff;
    font-size: small;
    padding: 5px 10px;
    border-radius: 30%;
    margin-top: 1px;
    margin-left: 7px;
}

#btc-violet {
    background-color: #9C72DF;
}

#btc-wgreen {
    background-color: #64C0A6;
}

#btc-orange {
    background-color: #EE9D32;
}

#btc-pink {
    background-color: #D663A2;
}

#btc-green {
    background-color: #B0C823;
}

#inferior {
    width: 70%;
    background-color: #ffffff;
    margin: 3px auto 0px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.circlex {
    display: inline-block;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 0px 5px;
    margin-right: 10px;
}

.circlev {
    display: inline-block;
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    padding: 0px 5px;
    margin-right: 10px;
}

#new-task {
    margin-left: 50px;
}

#today {
    margin-left: 50px;
    margin-top: 35px;
}

#upcoming {
    margin-left: 50px;
    margin-top: 35px;
}