/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Colori*/

/*#F7F8FA gray*/
/*#E6E6E8 light-gray*/
/*#6E7173 dark-gray*/
/*#46ACF2 blue*/
/*#9C72DF violet*/
/*#D663A2 pink*/
/*#EE9D32 orange*/
/*#B0C823 green*/
/*#64C0A6 water-green*/

.text-white{
    color: #ffffff;
}

.text-dark-gray{
    color: #6E7173;
}
/*Font*/

header {
    color: #000000;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4ch;
}

body {
    color: #6E7173;
    background-color: #F7F8FA;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#top {
    background-color: #ffffff;
    margin-top: 30px;
}

#inferior {
    background-color: #ffffff;
    margin-top: 3px;
}

#editorial {
    display: inline-block;
    
}
